.title_wrapper {
  @apply flex flex-col items-center; /* Add a semicolon here */

  & > .round {
    @apply relative h-36 w-36 rounded-full bg-red-300;
    &::after {
      content: "";
      position: absolute;
      bottom: -2; /* Fix the value here */
      width: 50%;
      aspect-ratio: 1/1;
      border-bottom-right-radius: 100%;
      transform: translate(0%, 100%);

      @apply border-b-4 border-r-4 border-green-500 z-20;
    }
  }
}

